@charset "UTF-8";
@import url(basic.css);
@import url(fonts.css);
@import url(effects.css);

$menuheight : 32px;
$dockheight: 44px;
$dockiconsmall : 32px;
$dockiconbig : 80px;
$dockpadding: 12px;


.mabro-main-container, .mabro-wrap, .mabro-webdesktop, .mabro-app.mabro-fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

.mabro-main-container {
	background-size: contain;
	background-image: url(../apps/webdesktop/themes/default/desktopbg.svg);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-color: #f0f0f0;
	> .mabro-wrap {
		&.mabro-menu-wrap {
			bottom: unset;
			height: $menuheight;
			overflow: visible;
			z-index: 1;
			background-color: #fff;
			display: flex;
			flex-wrap: nowrap;
			justify-content : flex-start;
			> .mabro-menu-content {
				width: 100%;
				> div {
					display: flex;
					flex-wrap: nowrap;
					justify-content : flex-start;
				}
			}
			button.btn, button.btn.btn-link {
				padding: 2px 4px;
				margin: 0 6px;
				background-color: white;
				text-decoration: unset;
				border-radius: 0;
				&:hover, &:focus, &:active {
					background-position: unset;
					outline: unset;
					text-shadow: unset;
					text-decoration: unset;
					box-shadow: unset;
				}
				&:hover, &:active {
					filter: invert(100%);
				}
				svg {
					width: 24px;
					height: 24px;
				}
				&::after { display: none; }
			}
		}
		&.mabro-main-wrap {
			top : $menuheight;
			bottom: $dockheight;
			z-index: -1;
			.mabro-webdesktop {
				z-index: -1;
			}
			> .mabro-wrap {
				overflow: visible;
			}
			.mabro-app:not(.mabro-wrap) {
				position: relative;
				background-color: white;
				overflow: auto;
				&.active {
					z-index: 1;
				}
				&.inactive {
					z-index: 0;
				}
				&.mabro-fullscreen {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
		};
		&.mabro-dock-wrap {
			top: unset;
			height: $dockheight;
			overflow: visible;
			display: flex;
			flex-wrap: nowrap;
			justify-content : center;
			> .mabro-dock-content {
				height: $dockheight;
				display: flex;
				flex-wrap: nowrap;
				justify-content : center;
				background-color: #ffffffcc;
				align-items : flex-end;
				> div {
					padding: 0 $dockpadding 4px $dockpadding;
					position: relative;
					border-bottom: 4px solid transparent;
					> svg {
						width: $dockiconsmall;
						height: $dockiconsmall;
						transition: all ease-in-out .25s;
					}
					&:hover > svg, > svg:hover {
						width: $dockiconbig;
						height: $dockiconbig;
					}
					&.running {
						border-bottom-color: #36c;
					}
					label {
						opacity : 0;
						position: absolute;
						bottom: calc(#{$dockiconbig} + 8px);
						left: 50%;
						width: $dockiconbig;
						margin: 0 0 0 calc(#{$dockiconbig} * -0.5);
						overflow: visible;
						text-align: center;
						color: #fff;
						text-shadow: 1px 1px 3px #000;
						font-weight: bold;
						transition: opacity ease-in-out .25s;
					}
					&:hover > label {
						opacity: 1;
					}
				}
			}
		}
	}
}
.modal-dialog label {
	margin-bottom: 0;
}
