$colorbg: #f0f0f0;
$iconsize: 48px;

.mabro-webdesktop {
	.wd-icon {
		width: fit-content;
		height: calc(  #{$iconsize} + 4px);
		overflow: visible;
		padding: 2px 2px 0 2px;
		svg {
			height: 100%;
			width: 100%;
		}
		> div.icon {
			height: $iconsize;
			width: $iconsize;
			position: relative;
			overflow: hidden;
			> span.icon {
				display: block;
				width: 100%;
				font-size: calc( #{$iconsize} / 1.1);
				margin-top: calc( #{$iconsize} / -8 );
				text-align: center;
			}
			> .sub-icon {
				position: absolute;
				right: 0;
				bottom: 0;
				width: calc(#{$iconsize} / 2);
				height: calc(#{$iconsize} / 2);
			}
		}
		> div.label {
			width: calc(#{$iconsize} * 2);
			height: 8px;
			margin: 2px calc(#{$iconsize} * -0.5) 0 calc(#{$iconsize} * -0.5);
			padding: 0;
			text-align: center;
			> label {
				user-select: none;
				display: inline-block;
				margin: 0;
				padding: 0 4px;
				background-color: #ffffff66;
				font-size: 90%;
				width: fit-content;
				max-width: calc(#{$iconsize} * 2);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&.wd-selected {
			> div.icon {
				overflow: visible;
				svg {
					filter: invert(1) drop-shadow(0 0 6px #fff) drop-shadow(0 0 4px #ffc) drop-shadow(0 0 2px #300);
				}
			}
			> div > label {
				background-color: #00000066;
				color: white;
			}
		}
	}
	.wd-folder-window {
		.wd-nav-bar {
			background-color: #f0f0f0;
			margin: 0 0 8px 0;
			height: 20px;
			border-bottom: solid 1px #ccc;
			padding: 0;
			position: relative;
			.wd-view-folder-lock {
				position: absolute;
				top: 0;
				right: 2px;
				height: 16px;
				width: 16px;
				> svg {
					filter: saturate(0);
					opacity: .5;
					vertical-align: baseline;
				};
			}
			.btn-group {
				padding: 0 4px;
				border: none;
				margin: 1px;
				height: 18px;
				.btn {
					border: none;
					position: relative;
					padding: 0;
					margin: 0;
					width: 24px;
					height: 18px;
					fill: #999;
					box-shadow: none !important;
					svg {
						position: absolute;
						top: 1px;
						left: 4px;
						height: 16px;
						width: 16px;
					}
					&:disabled {
						fill: #ccc;
					}
					&.active {
						background-color: #666;
						fill: #fff;
						cursor: default;
					}
				}
			}
		}
		.wd-content-thumbnails {
			margin: 4px 24px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: baseline;
			align-content: flex-start;
			row-gap: 12px;
  			column-gap: 40px;
		}
		.wd-content-list {
			margin: 4px;
			.wd-icon {
				width: auto;
				max-width: 100%;
				height: min-content;
				margin-right: auto;
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				align-content: flex-start;
				column-gap: 8px;
				padding: 2px;
				svg {
					height: 100%;
					width: 100%;
					vertical-align: center;
				}
				> div.icon {
					height: calc(#{$iconsize} / 2);
					width: calc(#{$iconsize} / 2);
					position: relative;
					> .sub-icon {
						position: absolute;
						right: 0;
						bottom: 0;
						width: calc(#{$iconsize} / 4);
						height: calc(#{$iconsize} / 4);
					}
				}
				> div.label {
					height: unset;
					margin: unset;
					padding: 2px 0 0 0;
					text-align: left;
					width: auto;
					max-width: calc(100% - #{$iconsize});
					> label {
						display: block;
						margin: 0;
						padding: 0 4px;
						font-size: 90%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						width: auto;
						max-width: 100%;
					}
				}
				&.wd-selected {
					> div.icon {
						overflow: visible;
						svg {
							filter: invert(1) drop-shadow(0 0 3px #fff) drop-shadow(0 0 2px #ffc) drop-shadow(0 0 #300);
						}
					}
				}
			}
		}
	}
	.dd-dragover {
		&.wd-icon {
			>div.icon, > div > label {
				background-color: white;
				filter: invert(1);
			}
		}
	};
}